.deploy
deploy.sh
deploy_staging.sh
deploy_prod.sh
deploy_amazon_staging.sh
deploy_amazon_prod.sh
deploy_cyruspay_prod.sh
deploy_cyruspay_staging.sh
cashbook/.vs
cashbook/App.Flyway/bin
cashbook/App.Flyway/obj
cashbook/App.Flyway/.vs
cashbook/App.SharedLib/bin
cashbook/App.SharedLib/obj
cashbook/App.SharedLib/.vs
cashbook/App.Security/bin
cashbook/App.Security/obj
cashbook/App.Security/.vs
cashbook/App.Mvc/bin
cashbook/App.Mvc/obj
cashbook/App.Mvc/.vs
cashbook/App.Mvc/wwwroot/data
cashbook/App.Mvc/scripts/input
cashbook/App.Mvc/scripts/output
cashbook/App.Mvc/scripts/node_modules
cashbook/App.Mvc/client/db
cashbook/App.Mvc/uploads
log4net_file.log
cashbook/App.Mvc/Logs
/.vs
